@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using LernASP.ViewModels;
@model DetailsListViewModel;
@{
    Layout = "_Layout"; //Главный шаблон
}
    <h2>Все комплектующие</h2>
    <h3>@Model.CurrCategory</h3>
    @{
        foreach(var detail in Model.GetAllDetails)
        {
            <div>
                <h2>Деталь: @detail.Name</h2>
                <p>Цена: @detail.Price.ToString("c")</p>@*//Денежный формат*@
            </div>
        }
    }
