@model HomeViewModel

<h2>Топ контент</h2>
<div class="row mt-5 mb-2">
    @{
        foreach(Detail detail in Model.favDetails)
        {            
            @Html.Partial("AllDetails", detail) //Имя шаблона и что передаем
        }
    }
</div>